<h1>Parking Permit Issued</h1>

<p>Hello <%= @user.display_name %>,</p>

<p>A parking permit has been issued for your project at <%= @organization %>.</p>

<p>Please make sure to remove or renew your project before the permit expires.</p>

<p>Best regards,<br>
The <%= @organization %> Team</p>
