<h1>Parking Permit Expired</h1>

<p>Hello <%= @user.display_name %>,</p>

<p>Your parking permit has expired at <%= @organization %>.</p>

<p>Please remove your project from the space as soon as possible, or contact an admin to request an extension.</p>

<p>Best regards,<br>
The <%= @organization %> Team</p>
