<div class="d-flex justify-content-between align-items-center mb-4">
  <h1 class="h3 mb-0">Edit Parking Permit</h1>
  <%= link_to "&larr; Back to parking".html_safe, user_path(current_user, tab: :parking), class: "text-decoration-none" %>
</div>

<div class="card shadow-sm border-0">
  <div class="card-body">
    <%= render 'form', parking_notice: @parking_notice %>
  </div>
</div>
